.country {
  width: 360px;
  padding: 5px 5px 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  border: 1px solid var(--color-accent);
  border-radius: 5px;
  background-color: var(--color-card-bg);
  color: var(--color-accent-light);
  cursor: pointer;
}

.country h2 {
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--color-accent);
}

.country div {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.country div p:first-of-type {
  font-family: Inter, san-serif;
  color: var(--color-accent);
}

.country img {
  width: auto;
  height: 16px;
  vertical-align: middle;
  margin-left: 10px;
}

.visited {
  background-color: var(--color-card-bg-visited);
}
