:root {
  --color-bg: #778899;
  --color-card-bg: #647485;
  --color-card-bg-visited: #53606f;
  --color-text-light: #e7e7e7;
  --color-text-dark: #3a434d;
  --color-card-text-accent: #d4e0d6;
  --color-accent-hover: #bdd0c0;
  --dropdawn-gap: 4px;

  font-family: 'Playpen Sans', cursive;
  line-height: 1.5;
  font-weight: 400;
}

p,
h2,
body {
  margin: 0;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg);
}
